<div class="content-wrapper">

  <div class="content-header border-bottom ">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Productos</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a class="text-nowrap text-light font-italic" [routerLink]="['/panel/products']">Volver<i
                  class="cxi-angle-right font-size-base align-middle ml-1"></i></a>
            </li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  

    <div class="m-0 row justify-content-center mt-5">
      <form (ngSubmit)="updateProduct(updateForm)" #updateForm="ngForm" class="col-sm-10">
          <div class="card box-shadow-sm">
            <div class="card-header">
              <h5 style="margin-bottom: 0px;">Actualizar de producto</h5>
            </div>

            <ng-container *ngIf="loading">
              <div class="card-body">
                <div class="row">
                  <div class="col-12 text-center">
                    <!-- Custom size border spinner -->
                    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                      <span class="visually-hidden"></span>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="!loading">
              <div class="card-body" *ngIf ="product">
                <div class="row">
                  <div class="col-lg-8">
                    <div class="row">
                      <div class="col-lg-12 form-group">
                        <label for="">Titulo de producto</label>
                        <input type="text" class="form-control" placeholder="Titulo de producto" required name = "title" [(ngModel)]="product.title" >
                      </div>
                      <div class="col-lg-4 form-group">
                        <label for="">Stock</label>
                        <input type="number" class="form-control" placeholder="Cantidad inicial" required name = "stock" [(ngModel)]="product.stock" >
                      </div>
                      <div class="col-lg-4 form-group">
                        <label for="">Precio</label>
                        <input type="number" class="form-control" placeholder="Precio" required name = "price" [(ngModel)]="product.price" >
                      </div>
                      <div class="col-lg-4 form-group">
                        <label for="">Categoría</label>
                        <select class="form-control custom-select" id="select-input" required name = "category" [(ngModel)]="product.category" >
                          <option value="" selected disabled>Seleccionar</option>
                          <option value="Categoria 1">Categoria 1</option>
                          <option value="Categoria 2">Categoria 2</option>
                          <option value="Categoria 3">Categoria 3</option>
                        </select>
                      </div>
            
                      <div class="col-lg-12 form-group">
                        <label for="">Descripción corta</label>
                        <textarea class="form-control" placeholder="Titulo de producto" required name = "description" [(ngModel)]="product.description"  rows="5"></textarea>
                      </div>
            
                      <div class="col-lg-12 form-group">
                        <!-- <tinymce [config] = "config" name = "content" [(ngModel)]="product.content" required></tinymce> -->
                        <editor name="content" [(ngModel)]="product.content" required
                      apiKey="986sznhjlvor0m6on9m2kfae6elch4ej3geg4piwedz3862u" [init]="{
                        skin: 'oxide-dark',
                        content_css: 'dark' ,
                        height: 300,
                        menubar: true,
                        plugins: [
                          'advlist autolink lists link image charmap print preview anchor',
                          'searchreplace visualblocks code fullscreen',
                          'insertdatetime media table paste code help wordcount'
                        ],
                        toolbar:
                          'undo redo | formatselect | bold italic backcolor | \
                          alignleft aligncenter alignright alignjustify | \
                          bullist numlist outdent indent | removeformat | help'
                      }"></editor>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-lg-4">
                    <div class="row">
                      <div class="col-lg-12 form-group">
                        <label for="">Portada</label>
                        <div class="custom-file">
                          <input class="custom-file-input" type="file" id="file-input" (change)="fileChangeEvent($event)">
                          <label class="custom-file-label" id="input-img" style="white-space:nowrap;overflow: hidden;"
                            for="file-input">Seleccionar imagen</label>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <img [src]="imgSelect" class="img-thumbnail" alt="Rounded image">
                      </div>
                    </div>
                  </div>
  
  
                </div>
              </div>
              <div class="card-footer">
                <button *ngIf="!loading_btn" class="btn btn-primary mr-3" type="submit">Actualizar producto</button>
                <button *ngIf="loading_btn" type="button" class="btn btn-secondary mr-3" disabled>
                  <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
                  Guardando...
                </button>
      
                <a class="btn btn-warning" [routerLink]="['/panel/products']">Regresar</a>
              </div>
            </ng-container>

          </div>
      </form>
    </div>
</div>