<app-sidebar></app-sidebar>
<!-- Page title-->
<div class="border-bottom pt-5 mt-2 mb-5">
  <h1 class="mt-2 mt-md-4 mb-3 pt-5">Configuraciones</h1>
  <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
    <p class="text-muted">Este módulo se establecen las configuraciones de la tienda.</p>

  </div>
</div>

<ng-container *ngIf="loading">
  <div class="card-body">
    <div class="row">
      <div class="col-12 text-center">
        <!-- Custom size border spinner -->
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
          <span class="visually-hidden"></span>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!loading">

<form *ngIf ="config" #configForm = "ngForm" (ngSubmit) = "update(configForm)">
  <div class="card box-shadow-sm">
    <div class="card-header">
      <h5 style="margin-bottom: 0px;">Configuraciones</h5>
    </div>

    <div class="card-body">
      <div style="max-width: 48rem;">
        <div class="form-group row align-items-center">
          <label class="col-md-3 col-form-label font-weight-medium" for="text-input">Nombre de la tienda</label>
          <div class="col-md-9">
            <input class="form-control" type="text" id="text-input" placeholder="Createx" name = "title" [(ngModel)]="config.title" required>
          </div>
        </div>
        <div class="form-group row align-items-center">
          <label class="col-md-3 col-form-label font-weight-medium" for="text-input">Facturación</label>
          <div class="col-md-4">
            <input class="form-control" type="number" id="text-input" name = "serie" [(ngModel)]="config.serie" required>
          </div>
          <div class="col-md-5">
            <input class="form-control" type="number" id="text-input" name = "correlative" [(ngModel)]="config.correlative" required>
          </div>
        </div>
        <div class="form-group row align-items-center">
          <label class="col-md-3 col-form-label font-weight-medium" for="text-input">Categorías</label>
          <div class="col-md-4">
            <input class="form-control" type="text" id="text-input" placeholder="Titulo" name = "cat_title" [(ngModel)]="cat_title">

          </div>
          <div class="col-md-5">
            <input class="form-control" type="text" id="text-input" placeholder="Icono" name = "cat_icon" [(ngModel)]="cat_icon">
          </div>
          <div class="col-md-3">

          </div>
          <div class="col-md-9">
            <a style="cursor: pointer;" class="mb-5" (click)="addCat()">Agregar</a>
            <div class="table-responsive mt-3">
              <table class="table table-sm">
                <thead class="thead-dark">
                  <tr>

                    <th>Categoria</th>
                    <th>Icono</th>

                  </tr>
                </thead>

                <ng-container *ngIf="config.categories.length > 0">
                    <tbody *ngFor="let item of config.categories">
                        <tr>
                          <td>{{item.title}}</td>
                          <td>{{item.icon}}</td>
                        </tr>
                    </tbody>
                </ng-container>
                <ng-container *ngIf="config.categories.length == 0">
                    <tbody>
                        <tr>
                            <td colspan="2"class = "text-center">
                                <span class="text-muted">No hay categorias disponibles</span>
                            </td>
                        </tr>
                    </tbody>  
                </ng-container>
              </table>
            </div>
          </div>

        </div>
        <div class="form-group row align-items-center">
          <label class="col-md-3 col-form-label font-weight-medium" for="file-input">Logo</label>
          <div class="col-md-9">
            <div class="custom-file">
              <input class="custom-file-input" type="file" id="file-input">
              <label class="custom-file-label" for="file-input">Buscar</label>
            </div>
          </div>

        </div>
      </div>

    </div>
    <div class="card-footer">
      <button *ngIf="!loading_btn" class="btn btn-primary mr-3" type="submit">Guardar cambios</button>
      <button *ngIf="loading_btn" type="button" class="btn btn-secondary mr-3" disabled>
        <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
        Guardando...
      </button>
    </div>
  </div>

</form>
</ng-container>