<!-- Page title-->
<div class="border-bottom pt-5 mt-2 mb-5">
  <h1 class="mt-2 mt-md-4 mb-3 pt-5">Clientes</h1>
  <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
    <p class="text-muted">Este módulo lista todos los clientes de la tienda.</p>
    <p class="font-size-sm font-weight-medium pl-md-4">
      <a class="text-nowrap" [routerLink]="['/panel/clients/register']">Registrar nuevo<i class="cxi-angle-right font-size-base align-middle ml-1"></i></a>
    </p>
  </div>
</div>

<div class="card box-shadow-sm">
  <div class="card-header">
    <h5 style="margin-bottom: 0px;">Filtro de clientes</h5>
  </div>
  <div class="card-header">
    <form class="form-inline pt-2">
      <label class="sr-only" for="inline-form-input-name">Apellidos</label>
      <input class="form-control mb-3 mr-sm-4" (keyup)="filter('surname')" name = "filterSurname" [(ngModel)]="filterSurname" type="text" id="inline-form-input-name" placeholder="Apellidos">
      <label class="sr-only" for="inline-form-input-username">Correo</label>
      <div class="input-group mb-3 mr-sm-4">
        <div class="input-group-prepend">
          <div class="input-group-text">Email</div>
        </div>
        <input class="form-control" (keyup)="filter('email')" name = "filterEmail" [(ngModel)]="filterEmail"  type="text" id="inline-form-input-username" placeholder="Correo">
      </div>
    </form>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th>Opciones</th>
          </tr>
          </thead>
          <tbody *ngIf="loading">
            <tr>
              <td class="text-center" colspan="5">
                <!-- Custom size border spinner -->
                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                  <span class="visually-hidden"></span>
                </div>
              </td>
            </tr>
          </tbody>
          <ng-container *ngIf="!loading">
            <tbody *ngFor="let client of clients| slice: (page-1)*pageSize: (page-1)*pageSize + pageSize; let i = index">
              <tr>
                <td>{{i+1}}</td>
                <td>{{client.name}}</td>
                <td>{{client.surname}}</td>
                <td>{{client.email}}</td>
                <td>
  
                  <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Opciones
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                      <button class="dropdown-item" type="button" [routerLink] ="['/panel/clients/',client._id]" >Editar cliente</button>
                      <button class="dropdown-item" type="button" data-toggle="modal" [attr.data-target]="'#delete-'+client._id" >Eliminar cliente</button>
                    </div>
                  </div>
  
                  <!-- Launch vertically centered modal -->
                  <div class="modal fade" id="delete-{{client._id}}" tabindex="-1" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Eliminar cliente</h4>
                          <button class="close" type="button" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span></button>
                           
  
                        </div>
                        <div class="modal-body">
                          <p class="fs-sm">Deseas eliminar al cliente {{client.name}} {{client.surname}} permanentemente?</p>
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancelar</button>
                          <button *ngIf="!loading_btn" class="btn btn-primary btn-sm" (click)="delete(client._id)" type="button">Confirmar</button>
                          <button *ngIf="loading_btn" type="button" class="btn btn-secondary btn-sm" disabled>
                            <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
                            Eliminando...
                          </button>

                        </div>
                      </div>
                    </div>
                  </div>
  
  
                </td>
              </tr>
            </tbody>
          </ng-container>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <ngb-pagination
      [(page)]='page'
      [pageSize]='pageSize'
      [collectionSize] ='clients.length'
    >

    </ngb-pagination>
  </div>
</div>
