<app-sidebar></app-sidebar>

<!-- Page title-->
<div class="border-bottom pt-5 mt-2 mb-5" *ngIf ="product">
  <h1 class="mt-2 mt-md-4 mb-3 pt-5">Productos</h1>
  <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
    <p class="text-muted">Este módulo lista el inventario de {{product.title}}.</p>
    <p class="font-size-sm font-weight-medium pl-md-4">
      <a class="text-nowrap" [routerLink]="['/panel/products']">Regresar<i class="cxi-angle-right font-size-base align-middle ml-1"></i></a>
    </p>
  </div>
</div>

<div class="card box-shadow-sm" *ngIf ="product">
  <div class="card-header">
    <h5 style="margin-bottom: 0px;">Inventario de producto</h5>
  </div>

  <div class="card-header">
    <div class="row">

    </div>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Admin</th>
            <th>Cantidad</th>
            <th>Proveedor</th>
            <th>Op.</th>
          </tr>
          </thead>
          <ng-container *ngIf="!loading">
            <ng-container *ngIf="inventory.length == 0 ">
              <tbody>
                <tr>
                  <td colspan="4" class = "text-center">
                    <span class="text-muted">No hay registros de inventario</span>
                  </td>
                </tr>
              </tbody>
            </ng-container>
            <ng-container >
              <tbody *ngFor="let item of inventory">
                <tr>
                  <td>{{item.admin.name}} {{item.admin.surname}}</td>
                  <td>{{item.amount}}</td>
                  <td>{{item.supplier}}</td>
                  <td>
                    <button 
                      class="btn btn-danger btn-sm"
                      type="button" 
                      data-toggle="modal" 
                      [attr.data-target]="'#delete-'+item._id" 
                    >
                      <i class="fw-normal cxi-delete"></i>
                    </button>



                                      <!-- Launch vertically centered modal -->
                  <div class="modal fade" id="delete-{{item._id}}" tabindex="-1" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Eliminar inventario</h4>
                          <button class="close" type="button" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span></button>
                           
  
                        </div>
                        <div class="modal-body">
                          <p class="fs-sm">Deseas eliminar al producto del proveedor "{{item.supplier}}" permanentemente?</p>
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancelar</button>
                          <button *ngIf="!loading_btn" class="btn btn-primary btn-sm" (click)="delete(item._id)" type="button">Confirmar</button>
                          <button *ngIf="loading_btn" type="button" class="btn btn-secondary btn-sm" disabled>
                            <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
                            Eliminando...
                          </button>

                        </div>
                      </div>
                    </div>
                  </div>

                  </td>
                </tr>
              </tbody>
            </ng-container>
          </ng-container>


          <ng-container *ngIf="loading">
              <tbody>
                <tr>
                  <td class="text-center" colspan="4">
                    <!-- Custom size border spinner -->
                    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                      <span class="visually-hidden"></span>
                    </div>
                  </td>
                </tr>
              </tbody>
          </ng-container>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <!-- <ngb-pagination
      [(page)]='page'
      [pageSize]='pageSize'
      [collectionSize] ='products.length'
    >

    </ngb-pagination> -->
  </div>
</div>
