<app-sidebar></app-sidebar>

<!-- Page title-->
<div class="border-bottom pt-5 mt-2 mb-5">
  <h1 class="mt-2 mt-md-4 mb-3 pt-5">Clientes</h1>
  <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
    <p class="text-muted">Este módulo lista todos los clientes de la tienda.</p>
  </div>
</div>

<form #updateForm="ngForm" (ngSubmit)="update(updateForm)">
  <div class="card box-shadow-sm">
    <div class="card-header">
      <h5 style="margin-bottom: 0px;">Actualizar cliente</h5>
    </div>
    <div class="card-body">

      <div class="row">
        <div class="col-md-4 form-group">
          <label for="validationCustom01" class="form-label">Nombres</label>
          <input class="form-control" type="text" placeholder="Nombres completos" name="name" [(ngModel)]="client.name"
            required>
        </div>
        <div class="col-md-4 form-group">
          <label for="validationCustom01" class="form-label">Apellidos</label>
          <input class="form-control" type="text" placeholder="Apellidos completos" name="surname"
            [(ngModel)]="client.surname" required>
        </div>
        <div class="col-md-4 form-group">
          <label for="validationCustom01" class="form-label">Correo electrónico</label>
          <input class="form-control" type="text" placeholder="Correo electrónico" name="email"
            [(ngModel)]="client.email" required>
        </div>

        <div class="col-md-4 form-group">
          <label for="validationCustom01" class="form-label">Telefono</label>
          <input class="form-control" type="text" placeholder="Telefono" name="telephone" [(ngModel)]="client.telephone"
            required>
        </div>
        <div class="col-md-4 form-group">
          <label for="validationCustom01" class="form-label">Fecha nacimiento</label>
          <input class="form-control" type="date" name="birthday" [(ngModel)]="client.birthday" required>
        </div>
        <div class="col-md-4 form-group">
          <label for="validationCustom01" class="form-label">DNI</label>
          <input class="form-control" type="number" placeholder="DNI" name="dni" [(ngModel)]="client.dni" required>
        </div>

        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Genero</label>
          <select class="form-control custom-select" name="gender" [(ngModel)]="client.gender" required>
            <option value="" disabled selected>Seleccionar</option>
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
          </select>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary mr-3" type="submit">Crear cliente</button>
      <a class="btn btn-warning" [routerLink]="['/panel/clients']">Regresar</a>
    </div>
  </div>
</form>
