<div class="row" style="width: 100%;
height: 100%; margin-top: 100px;">
  <div class="col-lg-8 mx-auto" style="display: flex;
    align-items: center;">
    <div class="px-md-5 px-4">
      <h3 class="modal-title mt-4 mb-0 text-center mb-5">Iniciar sesión</h3>
      <p class="font-size-sm text-muted text-center">Inicie sesión en su cuenta utilizando el correo electrónico y la contraseña proporcionados durante el registro.</p>
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <div class="form-group">
          <label for="signin-email">Correo electrónico</label>
          <input type="email" class="form-control" name="email" [(ngModel)]="user.email" placeholder="Tu correo electrónico..." required="">
        </div>
        <div class="form-group">
          <label for="signin-password" class="form-label">Contraseña</label>
          <div class="cs-password-toggle input-group-overlay">
            <input type="password" class="form-control appended-form-control" name="password" [(ngModel)]="user.password" 
              placeholder="Tu contraseña..." required="">
            <div class="input-group-append-overlay">
              <label class="btn cs-password-toggle-btn input-group-text">
                <input type="checkbox" class="custom-control-input">
                <i class="cxi-eye cs-password-toggle-indicator"></i>
                <span class="sr-only">Show password</span>
              </label>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Entrar</button>
      </form>
    </div>
  </div>
</div>



<!-- <div class="m-0 vh-100 row justify-content-center align-items-center">
  <div class="login-box">
    <div class="login-logo">
      <b>Admin</b>LTE
    </div>
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Inicia sesión para entrar a la tienda</p>
  
        <form  #loginForm="ngForm" (ngSubmit)="login(loginForm)">
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="user.email" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password"  name="password" [(ngModel)]="user.password" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="remember">
                <label for="remember">
                  Remember Me
                </label>
              </div>
            </div>
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Sign In</button>
            </div>
          </div>
        </form>
        <p class="mb-0">
          <a href="#" class="text-center">Registrarse</a>
        </p>
      </div>
    </div>
  </div>
</div> -->