<main class="cs-page-wrapper">
  <nav class="bg-secondary mb-3" aria-label="breadcrumb">
    <div class="container">
      <ol class="breadcrumb breadcrumb-alt mb-0">
        <li class="breadcrumb-item">
          <a [routerLink]="['/']" routerLinkActive="active" ><i class="cxi-home"></i></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Perfil</li>
      </ol>
    </div>
  </nav>


  <section class="container pt-3 pt-lg-4 pb-5 pb-lg-6">
    <div class="row pb-2 pb-lg-0">

      <!-- Account menu (sticky sidebar) -->
      <aside class="col-xl-3 col-lg-4 pb-3 mb-4 mb-lg-0">
        <div class="sidebar-sticky" data-sidebar-sticky-options='{
              "topSpacing": 120,
              "minWidth": 991
            }'>
          <app-sidebar></app-sidebar>
        </div>
      </aside>

      <div class="col-lg-8 ml-auto m-0 row justify-content-center mt-5" *ngIf="loader">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
          <span class="visually-hidden"></span>
        </div>
      </div>
      
      <!-- Content -->
      <div class="col-lg-8 ml-auto" *ngIf="!loader">
        <div class="d-flex align-items-center justify-content-between mb-4 pb-1 pb-sm-3">
          <h1 class="h2 mb-0">Mi perfil</h1>
        </div>
        <form #updateForm = "ngForm" (ngSubmit) = "update(updateForm)">
          <div class="row pb-3">
            <div class="col-sm-6 form-group">
              <label for="ac-fn">Nombres</label>
              <input required type="text" id="ac-fn" class="form-control form-control-lg" name = "name" [(ngModel)]="client.name" placeholder="Ingresa tus nombres">
            </div>
            <div class="col-sm-6 form-group">
              <label for="ac-ln">Apellidos</label>
              <input required type="text" id="ac-ln" class="form-control form-control-lg" name = "surname" [(ngModel)]="client.surname" placeholder="Ingresa tus apellidos">
            </div>
            <div class="col-sm-6 form-group">
              <label for="ac-email">Correo electrónico</label>
              <input required type="email" id="ac-email" class="form-control form-control-lg" name = "email" [(ngModel)]="client.email" placeholder="Ingresa tu correo electrónico">
            </div>
            <div class="col-sm-6 form-group">
              <label for="ac-phone">Telefono</label>
              <input required type="text" id="ac-phone" class="form-control form-control-lg" name = "telephone" [(ngModel)]="client.telephone" placeholder="Ingresa tu telefono">
            </div>

            <div class="col-sm-6 form-group">
              <label for="ac-phone">Fecha de nacimiento</label>
              <input required type="date" id="ac-phone" class="form-control form-control-lg" name = "birthday" [(ngModel)]="client.birthday">
            </div>
 
            <div class="col-sm-6 form-group">
              <label for="ac-phone">DNI</label>
              <input required type="number" id="ac-phone" class="form-control form-control-lg" name = "dni" [(ngModel)]="client.dni">
            </div>

            <div class="col-sm-6 form-group">
              <label for="ac-country">Genero</label>
              <select id="ac-country" class="custom-select custom-select-lg" name = "gender" [(ngModel)]="client.gender" required>
                <option value="" disabled selected>Seleccionar</option>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
              </select>
            </div>
          </div>
          <button *ngIf="!loading_btn" type="submit" class="btn btn-primary btn-lg">&nbsp;Guardar&nbsp;</button>
          <button *ngIf="loading_btn" type="button" class="btn btn-secondary btn-lg" disabled>
            <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
            Guardando
          </button>
        </form>
      </div>
    </div>
  </section>

</main>
